.form {
    text-align: right;
  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: rgb(23, 74, 35);
    border: 1px solid rgb(23, 74, 35);
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    background-color: rgb(15, 50, 24);
    border-color: rgb(15, 50, 24)
  }